<section id="tasks">
  <h1 id="heading">My Tasks</h1>

  <div class="well">
    <%= simple_form_for @new_task, remote: true, html: { class: 'form-inline' } do |f| %>
      <%= f.input :title, label: false, placeholder: "What do you want to do?", autofocus: true %>
      <%= f.submit "Create Task", class: "btn btn-primary" %>
    <% end %>
  </div>

  <ul class="list-unstyled" id="sortable">
      <%= render @tasks %>
  </ul>
</section>