#tasks {
  #heading{
    text-align: center;
  }
  form {
    text-align: center;
    input.string {
      width: 20em;
    }
  }

  ul {
    li {
      font-size: 1.5em;
      padding: 0.3em 0.3em;
      background-color: #FFF;
      transition: background-color 0.3s ease-in;

      span.content {
        cursor: pointer;
      }
      
      .delete {
        display: none;
        color: #c0392b;
      }

      &:hover {
        background-color: #EEE;

        .delete {
          display: inline-block;
          float: right;
        }
      }

      i.fa-square-o {
        display: inline-block;
      }

      i.fa-check-square-o {
        display: none;
      }


      &.done {
        i.fa-square-o {
          display: none;
        }

        i.fa-check-square-o {
          display: inline-block;
        }
      }
    }
  }
}